.page-header {
    background: #1890ff;
    height: 60px;
    color: #fff;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        color: #fff;
    }
}